body {
    background-color: floralwhite;
    font-family: Arial;
    margin: 0px;
}

main {
    background-color: antiquewhite;
    color: darkslategrey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px;
    padding: 1px;
}

footer {
    background-color: rgb(91, 116, 116);
    color: whitesmoke;
    padding-bottom: 4px;
}

header {
    background-color: rgb(91, 116, 116);
    color: whitesmoke;
    padding-top: 4px;
}

a {
    text-decoration:none;
    color: rgb(62, 91, 91);
 }

a:hover {
    color: rgb(11, 148, 148);
    text-decoration: underline;
    background-color: rgba(173, 216, 230, 0.473);
}

a:active {
    color: black;
    opacity: 0.3;
}

a:link {
    color: rgb(75, 110, 110);
}

a:visited {
    color: rgb(52, 77, 77);
}