body {
    background-color: floralwhite;
    font-family: Arial;
    margin: 0px;
}

main {
    background-color: antiquewhite;
    color: darkslategrey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10 px 20 px 45px;
    padding: 1px;
}

footer {
    background-color: rgb(91, 116, 116);
    color: whitesmoke;
    padding-bottom: 4px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

header {
    background-color: rgb(91, 116, 116);
    color: whitesmoke;
    padding-top: 4px;
}

a {
    text-decoration:none;
    color: rgb(62, 91, 91);
    transition: 1s 2s;
 }

a:hover {
    color: rgb(11, 148, 148);
    text-decoration: underline;
    background-color: rgba(173, 216, 230, 0.473);
    transition: 0.3s;
}

a:active {
    color: black;
    opacity: 0.3;
}

a:link {
    color: rgb(75, 110, 110);
}

a:visited {
    color: rgb(52, 77, 77);
}

div.menu {
    border: 5px solid #00597280;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}

div.menu:hover {
    background-color: aliceblue;
    box-shadow: 0 0 15px #006a8880;
}

h1 {
    text-align: center;
}